body.dark-theme {
    background-color: #333; /* Фоновый цвет в темной теме */
    color: #fff; /* Цвет текста в темной теме */
}

.dark-theme header {
    background-color: #222; /* Цвет фона для заголовка */
}

.dark-theme main {
    background-color: #444; /* Цвет фона для основного содержимого */
}

.dark-theme footer {
    background-color: #222; /* Цвет фона для подвала */
    color: #fff; /* Цвет текста в подвале */
}